/* info     Dbag */
/* [class^='container'] {
    border: 1px dashed black;
    background-color: lightblue;
    min-height: 20vh;
}    
[class^='row'] {
    border: 1px dashed red;
}

/* [class^='col'] {
    height: 100px;
    background-color: #f1d2e7;
    border: 1px solid #d0a8eb;
} */
/* info generali */
body{
    padding: 50px 0px;
}
/* info header */
header{
    text-align: center;
    margin-bottom: 40px;
}
span{
    color: gray;
}
/* info main e footer */
.margin{
    margin-top: 40px;
}
[class^='col'] {
    padding: 28px;
}     